Source: qtubuntu-gles
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               libatspi2.0-dev,
               libegl1-mesa-dev,
               libfontconfig1-dev,
               libfreetype6-dev,
               libgles2-mesa-dev,
               libglib2.0-dev,
               libinput-dev,
               libmirclient-dev (>= 0.13.0),
               libmtdev-dev,
               libqt5gui5-gles,
               libqt5quick5-gles,
               libqt5quickparticles5-gles,
               libqt5quicktest5,
               libqt5quickwidgets5-gles,
               libqt5sensors5-dev,
               libubuntu-application-api-dev (>= 2.9.0),
               libudev-dev,
               libxkbcommon-dev,
               libxrender-dev,
               qt5-default,
               qtbase5-gles-dev,
               qtbase5-private-gles-dev,
               qtdeclarative5-dev,
Standards-Version: 3.9.4
Section: libs

Package: qtubuntu-android
Architecture: amd64 i386
Multi-Arch: same
Conflicts: qtubuntu-android,
           qtubuntu-desktop,
Replaces: qtubuntu-android,
Provides: qtubuntu,
Depends: libqt5sensors5,
         qtubuntu-sensors,
         ubuntu-application-api3-touch,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Qt plugins for Ubuntu Platform API (mobile) - OpenGLES
 QtUbuntu is a set of Qt5 components for the Ubuntu Platform API. It contains a
 QPA (Qt Platform Abstraction) plugin based on the Ubuntu Platform API and a
 legacy QPA plugin based on the compatibility layers. It also provides Qt
 bindings for Ubuntu Platform API features that are not exposed through the QPA
 plugins.
 .
 This variant of the package is for Android-based phones and tablets (built
 against the OpenGLES variant of qtbase).
